/* Load Section */

#goals{
	margin: 160px 0;
}

#goal-content{
	box-sizing: border-box;
	padding-right: 110px;
	margin-bottom: 40px;
}

#goal-images{
	position: relative;
	display: flex;
	justify-content: center;
}

#goal-images .family{
	height: 450px;
	width: 100%;
	border-radius: 10px;
}
