/* Load Section */

#personal-loan{
	margin: 160px 0;
}

#loan-content{
	box-sizing: border-box;
	padding-right: 40px;
	margin-bottom: 40px;
}

#loan-content p.trust{
	display: block;
	color: rgb(104, 104, 104);
	font-size: 10px;
	line-height: 23px;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.actions{
	margin: 25px 0;
}

.actions li{
	display: inline-block;
	margin-right: 6px;
}

#loan-content p.trust i{
	color: rgb(45, 158, 0);
	margin-right: 5px;
}

#loan-images{
	position: relative;
	display: flex;
	justify-content: center;
}

#loan-images .family{
	width: 100%;
	height: 500px;
	border-radius: 10px;
}
#loan-images .stats-1{
	width: 200px;
	height: 200px;
	position: absolute;
	right: -80px;
	bottom: 110px;
}
#loan-images .stats-2{
	position: absolute;
	bottom: -10px;
	left: -110px;
}
#loan-images .dots-1{
	z-index: -1;
	bottom: -44px;
	right: 57px;
	width: 134px;
	position: absolute;
}

#loan-images .dots-2{
	z-index: -1;
	width: 150px;
	top: -40px;
	left: -40px;
	position: absolute;
}



@media (min-width:800px) and (max-width:1300px)  {
	#loan-images .stats-1{
		right: -40px;
	}

	#loan-images .stats-2{
		left: -60px;
	}

}

@media (min-width:749px) and (max-width:799.9999px)  {
	#loan-images .stats-1{
		right: -20px;
	}

	#loan-images .stats-2{
		left: -30px;
	}

}



@media (max-width:749px) {

	#loan-images .stats-1{
		right: -40px;
	}

	#loan-images .stats-2{
		left: -60px;
	}
	
}
