#reviews{
	padding-right: 40px;
	margin: 40px 0;
	padding: 130px 0;
}

#reviews h6{
	text-transform: uppercase;
	font-size: 15px;
	color:var(--primary-darker);
	margin-bottom: 20px;
}

#reviews h2{
	display: block;
	font-weight: bolder;
	font-size: 40px;
	margin-bottom: 23px;
}








#reviews .list-items > div {
	margin: 40px 0 20px 0;
}

#reviews .list-items > div {
	padding-right: 30px;
}


#reviews .list-items .review {
	padding: 25px;
	border-radius: 5px;
	border: 1px solid rgb(192, 192, 192);
}

#reviews .list-items .review .icon{
	color: var(--primary-darker);
	font-size: 20px;
	position: relative;
	border: 1px solid var(--primary-darker);
	font-weight: bolder;
}



#reviews .list-items .review .rate{
	color: rgb(214, 151, 35);
	font-size: 12px;
}


#reviews .list-items .review .description{
	margin: 25px 0;
	color: rgb(71, 71, 71);
}


#reviews .list-items .review .profile{
	display: flex;
	align-items: center;
}


#reviews .list-items .review .profile img{
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
}


#reviews .list-items .review .profile .name h3{
	font-weight: bolder;
	font-size: 12px;
}
#reviews .list-items .review .profile .name span{
	font-size: 10px;
	color: rgb(41, 41, 41);
}

