:root {
  --primary: #624bff;
  --primary-darker: #4730df;
  --black: #151e28;
  --grey: #6c757d;
  --light: #f8f9fa;
  --success: #22bb33;
  --danger: #bb2124;
  --gray-light: #e9ecef;
}

.bg-primary {
  background-color: var(--primary);
}
