
:root{
	--spacing: 5px;
}

[class*='col-'] {
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
  }
  

@media  (min-width:1600px) {
	.container { width: 58%;}
}

@media (min-width:1300px) and (max-width:1599.9999px) {
	.container { width: 75%;}
}

@media (min-width:900px) and (max-width:1299.9999px) {
	.container { width: 85%;}
}


@media screen and (max-width:899.9999px) {
	.container { width: 85%;}
}


@media screen and (min-width:924px) {

	.col-1 {
		width: calc((1 / 12) * 100%) ;
	}
	.col-2 {
		width: calc((2 / 12) * 100%) ;
	}
	.col-3 {
		width: calc((3 / 12) * 100%) ;
	}
	.col-4 {
		width: calc((4 / 12) * 100%) ;
	}
	.col-5 {
		width: calc((5 / 12) * 100%) ;
	}
	.col-6 {
		width: calc((6 / 12) * 100%) ;
	}
	.col-7 {
		width: calc((7 / 12) * 100%) ;
	}
	.col-8 {
		width: calc((8 / 12) * 100%) ;
	}
	.col-9 {
		width: calc((9 / 12) * 100%) ;
	}
	.col-10 {
		width: calc((10 / 12) * 100%) ;
	}
	.col-11 {
		width: calc((11 / 12) * 100%) ;
	}
	.col-12 {
		width: calc((12 / 12) * 100%) ;
	}

	.col-hidden{
		display: none !important;
	}
}

@media (min-width:749.999999px) and (max-width:924px){
	
	.col-md-1 {
		width: calc((1 / 12) * 100%) ;
	}
	.col-md-2 {
		width: calc((2 / 12) * 100%) ;
	}
	.col-md-3 {
		width: calc((3 / 12) * 100%) ;
	}
	.col-md-4 {
		width: calc((4 / 12) * 100%) ;
	}
	.col-md-5 {
		width: calc((5 / 12) * 100%) ;
	}
	.col-md-6 {
		width: calc((6 / 12) * 100%) ;
	}
	.col-md-7 {
		width: calc((7 / 12) * 100%) ;
	}
	.col-md-8 {
		width: calc((8 / 12) * 100%) ;
	}
	.col-md-9 {
		width: calc((9 / 12) * 100%) ;
	}
	.col-md-10 {
		width: calc((10 / 12) * 100%) ;
	}
	.col-md-11 {
		width: calc((11 / 12) * 100%) ;
	}
	.col-md-12 {
		width: calc((12 / 12) * 100%) ;
	}
	
	.col-md-hidden{
		display: none !important;
	}
}

@media screen and (max-width:749px) {
	.col-sm-1 {
		width: calc((1 / 12) * 100%) ;
	}
	.col-sm-2 {
		width: calc((2 / 12) * 100%) ;
	}
	.col-sm-3 {
		width: calc((3 / 12) * 100%) ;
	}
	.col-sm-4 {
		width: calc((4 / 12) * 100%) ;
	}
	.col-sm-5 {
		width: calc((5 / 12) * 100%) ;
	}
	.col-sm-6 {
		width: calc((6 / 12) * 100%) ;
	}
	.col-sm-7 {
		width: calc((7 / 12) * 100%) ;
	}
	.col-sm-8 {
		width: calc((8 / 12) * 100%) ;
	}
	.col-sm-9 {
		width: calc((9 / 12) * 100%) ;
	}
	.col-sm-10 {
		width: calc((10 / 12) * 100%) ;
	}
	.col-sm-11 {
		width: calc((11 / 12) * 100%) ;
	}
	.col-sm-12 {
		width: calc((12 / 12) * 100%) ;
	}
	.col-sm-hidden{
		display: none !important;
	}
}


.p-1 {
	padding: calc(var(--spacing) * 1);
}
.p-2 {
	padding: calc(var(--spacing) * 2);
}
.p-3 {
	padding: calc(var(--spacing) * 3);
}
.p-4 {
	padding: calc(var(--spacing) * 4);
}
.p-5 {
	padding: calc(var(--spacing) * 5);
}
  

.px-1 {
	padding: 0 calc(var(--spacing) * 1);
}
.px-2 {
	padding: 0 calc(var(--spacing) * 2);
}
.px-3 {
	padding: 0 calc(var(--spacing) * 3);
}
.px-4 {
	padding: 0 calc(var(--spacing) * 4);
}
.px-5 {
	padding: 0 calc(var(--spacing) * 5);
}
  


.py-1 {
	padding: calc(var(--spacing) * 1) 0;
}
.py-2 {
	padding: calc(var(--spacing) * 2) 0;
}
.py-3 {
	padding: calc(var(--spacing) * 3) 0;
}
.py-4 {
	padding: calc(var(--spacing) * 4) 0;
}
.py-5 {
	padding: calc(var(--spacing) * 5) 0;
}
  



.m-1 {
	padding: calc(var(--spacing) * 1);
}
.m-2 {
	padding: calc(var(--spacing) * 2);
}
.m-3 {
	padding: calc(var(--spacing) * 3);
}
.m-4 {
	padding: calc(var(--spacing) * 4);
}
.m-5 {
	padding: calc(var(--spacing) * 5);
}
  


.mx-1 {
	padding: 0 calc(var(--spacing) * 1);
}
.mx-2 {
	padding: 0 calc(var(--spacing) * 2);
}
.mx-3 {
	padding: 0 calc(var(--spacing) * 3);
}
.mx-4 {
	padding: 0 calc(var(--spacing) * 4);
}
.mx-5 {
	padding: 0 calc(var(--spacing) * 5);
}
  


.my-1 {
	padding: calc(var(--spacing) * 1) 0;
}
.my-2 {
	padding: calc(var(--spacing) * 2) 0;
}
.my-3 {
	padding: calc(var(--spacing) * 3) 0;
}
.my-4 {
	padding: calc(var(--spacing) * 4) 0;
}
.my-5 {
	padding: calc(var(--spacing) * 5) 0;
}
  


.container {
	margin: 0 auto;
}


.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -10px;
	margin-right: -10px;
}