/* TOP HEADER */

header #top-header{
	color: white;
	padding: 10px 0;
}


header #contacts{
	display: flex;
	justify-content: flex-end;
}

header #contacts  a{
	text-decoration: none;
	color: white;
} 

@media screen and (max-width:749px) {
	header #contacts{
		justify-content: center ;
	}
	header #borrow{
		text-align: center;
		margin-bottom: 10px;
	}
	
}


/* Main Header */

header #main-header{
	color: black;
	background-color: white;
	box-shadow: 0 4px 14px 2px #bfbfbf;
	padding: 13px 0;
}


header #main-header #menu ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header #main-header #menu ul li{
	display: block;
	text-align: center;
	line-height: 41px;
}

header #main-header #menu ul li.dropdown{
	position: relative;
}
header #main-header #menu ul li.dropdown a{
	padding-right: 10px;
}


header #main-header #menu ul li > a{
	text-decoration: none;
	color: black;
	transition: color 0.1s;
	padding-left: 35px;
} 

header #main-header #menu ul li.dropdown > a::after{
	content: "\2304";
	color: rgb(148, 148, 148);
	position: absolute;
	bottom: 10px;
	right: -6px;
	font-size: 20px;
	transition: color 0.1s;
}



header #main-header #menu ul li:hover > a span,
header #main-header #menu ul li.dropdown:hover > a::after{
	color: var(--primary)
}


header #main-header #menu ul li:last-child a span{
	background-color: var(--primary);
	color: white;
	padding: 12px 20px;
	font-weight: bolder;
	border-radius: 4px;
	font-size: 12px;
	transition: background-color 0.3s;
}


header #main-header #menu li:last-child:hover a span{
	background-color: var(--primary-darker);
	color: white;
}






header #main-header #menu ul li.dropdown .submenu {
	display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -28px;
    background-color: #efefef;
    border: 1px solid #c1c1c1;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0px 0px 20px -14px black;
    transition: opacity 0.5s ease-in-out;
	min-width: 120px;
}

@media (min-width:749px) {
	header #main-header #menu ul li.dropdown:hover .submenu {
		opacity: 1;
		pointer-events: auto;
	}

	header #main-header #menu ul li.dropdown .submenu li:hover {
		background-color: rgb(204, 204, 204);
		border-radius: 4px;
	}
}





/* Main Header => Sub menu [ section holds button ] */
header #mobile-menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header #mobile-menu  a{
	text-decoration: none;
	color: var(--primary);
	margin-left: 25px;
	position: relative;
	border: 1px solid var(--primary);
	padding: 8px;
	border-radius: 4px;
	font-size: 12px;
	transition: background-color 0.3s, color 0.1s;
} 


header #mobile-menu a:hover span{
	color: var(--primary)
}

header #mobile-menu a:hover{
	background-color: var(--primary-darker);
	color: white;
}






/** Mobile Navigation Menu **/

header #mobile-nav-menu{
	color: black;
	background-color: white;
	box-shadow: 0 4px 14px 2px #bfbfbf;
	padding: 10px 0;

}

header #mobile-nav-menu #mbmenu ul a {
	text-decoration: none;
	color: rgb(44, 44, 44);
	transition: color 0.1s;
}


header #mobile-nav-menu #mbmenu ul li{
	display: block;
	text-align: left;
	line-height: 41px;
}



header #mobile-nav-menu #mbmenu ul li a{
	display: block;
}

header #mobile-nav-menu #mbmenu ul li.dropdown{
	position: relative;
}




header #mobile-nav-menu #mbmenu ul li.dropdown ul{
	display: none;
}

header #mobile-nav-menu #mbmenu ul li.dropdown.active ul{
	display: block;
}

header #mobile-nav-menu #mbmenu ul li.dropdown ul li{
	background-color:rgb(245, 245, 245);
	padding-left: 20px;
}


header #mobile-nav-menu #mbmenu ul li.dropdown ul li:before{
	content: ">";
	position: absolute;
	left: 8px;
}


header #mobile-nav-menu #mbmenu ul li.dropdown > a::after{
	content: "\2304";
	color: rgb(148, 148, 148);
	position: absolute;
	bottom: 10px;
	right: 0;
	font-size: 20px;
}



header #mobile-nav-menu #mbmenu ul li:last-child a span{
	background-color: var(--primary);
	color: white;
	border-radius: 4px;
	font-size: 16px;
	transition: background-color 0.3s;
	display: block;
	text-align: center;
}
/* 


header #main-header #menu li:last-child:hover a span{
	background-color: var(--primary-darker);
	color: white;
}






header #main-header #menu ul li.dropdown .submenu {
	display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -28px;
    background-color: #efefef;
    border: 1px solid #c1c1c1;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0px 0px 20px -14px black;
    transition: opacity 0.5s ease-in-out;
	min-width: 120px;
} */
